    <div class="container bs-docs-container lead">
      <h1>Hello, Rails</h1>
      <p>
        <%= link_to 'My Blogs', controller: 'courses' %> | <%= link_to 'New course', new_course_path %>
      </p>
      <div class="row">
        <div class="col-md-10">
          <table class="table table-striped">
            <tbody>
              <% @courses.each do |course| %>
                <tr>
                  <td><%= course.no %></td>
                  <td><%= course.title %></td>
                  <td>
                    <form method="post" action="<%= course_comments_path(course)%>"><input type="hidden" name="authenticity_token" value="kc599IEyVyZ4wctwGxDDrSQtwxC9Oo/engUlNVWYbYwIefmvm0ovSCtaTeAJj0pkMFLOw1bLT6vQ7ZrhsvlbbA==" /><button type="submit" class="btn btn-sm btn-success" >想听 <span class="badge"><%= course.comments.length %></span></button></form>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </h4>
        </div>
      </div>
    </div><!-- /.container -->